
<div class="gfoe-dialog nice">
  <h3>{{localize "GFOE.AddCoins"}}</h3>
  <div class="form-grid">
    <label>{{localize "GFOE.Gold"}}</label><input type="number" name="add-g" min="0" value="0"/>
    <label>{{localize "GFOE.Silver"}}</label><input type="number" name="add-s" min="0" value="0"/>
    <label>{{localize "GFOE.Bronze"}}</label><input type="number" name="add-b" min="0" value="0"/>
  </div>
  <footer class="dialog-buttons">
    <button type="button" class="apply-add"><i class="fa-solid fa-plus"></i> {{localize "GFOE.ApplyAdd"}}</button>
  </footer>
</div>
